<footer
  style="
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-right: 8px;
    border: 1px solid green;
    background-color: lightgreen;
  "
>
  <div style="text-align: right">
    Roman Bilyk &copy; 2022<br />
    <a style="text-decoration: none" href="#">webcareer.ua</a>
  </div>
</footer>
