<nav>
  <ul style="display: flex; list-style: none">
    <li style="margin-right: 0.8rem">
      <a
        style="text-decoration: none; font-size: 1.3rem"
        href="http://localhost:3000/"
        >Головна</a
      >
    </li>
    <li style="margin-right: 0.8rem">
      <a
        style="text-decoration: none; font-size: 1.3rem"
        href="http://localhost:3000/add-bank"
      >
        Додати банк</a
      >
    </li>
    <li style="margin-right: 0.8rem">
      <a
        style="text-decoration: none; font-size: 1.3rem"
        href="http://localhost:3000/banks"
        >Створені банки</a
      >
    </li>
  </ul>
</nav>
